*{
    margin: 0;
    padding: 0;
}
.container{
    margin: 0px 5%;
    font-family: sans-serif;
}
.fullform{
    display: flex;
    width: 100%;
    height: 80vh;
}
.allinputs{
    text-align: center;
    background-color: rgb(245, 245, 69);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.allinputs textarea{
    font-size: 16px;
}
.storages{
    text-align: center;
    background-color:rgba(0, 0, 0, 0.945);
    width: 100%;
    color: white;
}
.icons{
    display: flex;
    width: 80%;
    height: 20vh;
    border: 1px solid black;
    background-color: white;
    align-items: center;
    justify-content: center;
}
#stor #delete{
    color: red;
}
#stor #edit{
    color: rgb(11, 240, 11);
}
#stor i{
    margin: 0px 10px;
}
#stor h2{
   color: black;
   margin-right: 2rem;
}
.allinputs button{
   padding: 15px 30px;
   margin-top: 15px;
}







